*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: inherit; }

a:active, a:visited {
  text-decoration: none !important;
  outline: none !important; }

a:hover {
  text-decoration: none !important; }

button:focus {
  outline: none !important; }

body, html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #eeeeee; }

::selection {
  background-color: #0ABFBC;
  color: white; }

.heading_primary {
  color: white;
  backface-visibility: hidden;
  text-transform: uppercase; }
  .heading_primary__main {
    font-size: 9rem;
    margin-bottom: 2rem;
    letter-spacing: 3.5rem;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .heading_primary__secondary {
    font-size: 2.2rem;
    margin-bottom: 5rem;
    font-weight: 300;
    letter-spacing: .6rem;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.heading_secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #0ABFBC, #FC354C);
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 0); }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.button {
  transition: all .3s; }
  .button__ghost {
    background-color: transparent;
    border-radius: 30px;
    border: 2px white solid;
    padding: .3rem 2.5rem .3rem 2.5rem;
    font-weight: 700;
    margin-top: -1rem; }
    .button__ghost:hover {
      cursor: pointer;
      border: 2px #ff9068 solid;
      transform: translateY(-1px); }
    .button__ghost:hover a {
      color: #ff9068; }
  .button__primary {
    position: relative;
    color: white;
    font-size: 3rem;
    border-radius: 10rem;
    background: #fd746c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff9068, #fd746c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff9068, #fd746c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2rem 12rem 2rem 12rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    .button__primary:hover {
      filter: brightness(110%);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.55);
      cursor: pointer;
      transform: translateY(-1px); }
  .button__icon {
    margin-right: 10px; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.diamond-gallery-container {
  position: relative; }

.diamond-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  height: 15rem;
  display: block;
  margin-top: 3rem; }
  .diamond-gallery__list {
    position: absolute;
    list-style: none;
    width: 15rem;
    height: 15rem;
    background: #fd746c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff9068, #fd746c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff9068, #fd746c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: rotate(45deg);
    transition: .5s;
    margin: -6rem;
    overflow: hidden;
    opacity: .7; }
    .diamond-gallery__list:hover {
      opacity: 1;
      cursor: pointer;
      background: #FC354C;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top right, #0ABFBC, #FC354C);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top right, #0ABFBC, #FC354C);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      transform: translateY(-7px) rotate(45deg); }
    .diamond-gallery__list-1 {
      top: 0;
      left: 0; }
    .diamond-gallery__list-2 {
      bottom: 0;
      left: 12%; }
    .diamond-gallery__list-3 {
      top: 0;
      left: 24%; }
    .diamond-gallery__list-4 {
      bottom: 0;
      left: 36%; }
    .diamond-gallery__list-5 {
      top: 0;
      left: 48%; }
    .diamond-gallery__list-6 {
      bottom: 0;
      left: 60%; }
    .diamond-gallery__list-7 {
      top: 0;
      left: 72%; }
    .diamond-gallery__list-8 {
      bottom: 0;
      left: 84%; }
    .diamond-gallery__list-9 {
      top: 0;
      left: 96%; }
    .diamond-gallery__list-10 {
      bottom: 162%;
      left: 84%; }
    .diamond-gallery__list-11 {
      bottom: 162%;
      left: 60%; }
    .diamond-gallery__list-12 {
      bottom: 162%;
      left: 36%; }
    .diamond-gallery__list-13 {
      bottom: 162%;
      left: 12%; }
    .diamond-gallery__list-14 {
      top: 162%;
      left: 24%; }
    .diamond-gallery__list-15 {
      top: 162%;
      left: 48%; }
    .diamond-gallery__list-16 {
      top: 162%;
      left: 72%; }
    .diamond-gallery__list-17 {
      bottom: 243%;
      left: 72%; }
    .diamond-gallery__list-18 {
      top: 243%;
      left: 60%; }
    .diamond-gallery__list-19 {
      bottom: 243%;
      left: 48%; }
    .diamond-gallery__list-20 {
      bottom: 243%;
      left: 24%; }
    .diamond-gallery__list-21 {
      top: 243%;
      left: 36%; }
  .diamond-gallery__img {
    width: 100%;
    height: 100%; }
    .diamond-gallery__img-1 {
      background-size: cover;
      width: 19rem;
      transform: rotate(-45deg);
      margin-left: -.5rem;
      margin-top: -3rem; }
    .diamond-gallery__img-2 {
      background-size: cover;
      width: 20rem;
      transform: rotate(-45deg);
      margin-left: 3rem;
      margin-top: -4.6rem; }
    .diamond-gallery__img-3 {
      background-size: cover;
      width: 200px;
      transform: rotate(-45deg);
      margin-left: 1.2rem;
      margin-top: -2.7rem; }
    .diamond-gallery__img-4 {
      background-size: cover;
      width: 25rem;
      transform: rotate(-45deg);
      margin-top: -4rem;
      margin-left: -2rem; }
    .diamond-gallery__img-5 {
      background-size: cover;
      width: 14rem;
      transform: rotate(-45deg);
      margin-top: 1.2rem;
      margin-left: 2rem; }
    .diamond-gallery__img-6 {
      background-size: cover;
      width: 21rem;
      transform: rotate(-45deg);
      margin-top: -4rem;
      margin-left: -2rem; }
    .diamond-gallery__img-7 {
      background-size: cover;
      width: 20rem;
      transform: rotate(-45deg);
      margin-top: -3rem; }
    .diamond-gallery__img-8 {
      background-size: cover;
      width: 16rem;
      transform: rotate(-45deg);
      margin-top: -1.2rem;
      margin-left: 2rem; }
    .diamond-gallery__img-9 {
      background-size: cover;
      width: 22rem;
      transform: rotate(-45deg);
      margin-top: -1rem;
      margin-left: -5rem; }
    .diamond-gallery__img-10 {
      background-size: cover;
      width: 27rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
      margin-left: -2rem; }
    .diamond-gallery__img-11 {
      background-size: cover;
      width: 20rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
      margin-left: -1rem; }
    .diamond-gallery__img-12 {
      background-size: cover;
      width: 27rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
      margin-left: -4rem; }
    .diamond-gallery__img-13 {
      background-size: cover;
      width: 19rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
      margin-left: -4rem; }
    .diamond-gallery__img-14 {
      background-size: cover;
      width: 19rem;
      transform: rotate(-45deg);
      margin-left: 3rem; }
    .diamond-gallery__img-15 {
      background-size: cover;
      width: 27rem;
      transform: rotate(-45deg);
      margin-top: -1rem;
      margin-left: -5rem; }
    .diamond-gallery__img-16 {
      background-size: cover;
      width: 25rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
      margin-left: -2rem; }
    .diamond-gallery__img-17 {
      background-size: cover;
      width: 24rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
      margin-left: -5rem; }
    .diamond-gallery__img-18 {
      background-size: cover;
      width: 24rem;
      transform: rotate(-45deg);
      margin-top: -2rem;
      margin-left: -5rem; }
    .diamond-gallery__img-19 {
      background-size: cover;
      width: 25rem;
      transform: rotate(-45deg);
      margin-top: -7rem;
      margin-left: -5rem; }
    .diamond-gallery__img-20 {
      background-size: cover;
      width: 16rem;
      transform: rotate(-45deg); }
    .diamond-gallery__img-21 {
      background-size: cover;
      width: 24rem;
      transform: rotate(-45deg);
      margin-top: -5rem; }

.logo {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  color: white;
  font-family: lobster, 'cursive';
  font-size: 4rem; }

.nav {
  list-style: none;
  font-size: 1.7rem;
  display: block;
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-weight: 700; }
  .nav__list {
    display: inline-block; }
    .nav__list:not(:last-child) {
      padding-right: 3rem; }
  .nav__link {
    color: white;
    transition: all .3s; }
    .nav__link:hover {
      color: #ff9068;
      transform: translateY(-2px); }

.header {
  background-image: linear-gradient(to bottom left, rgba(10, 191, 188, 0.85), rgba(252, 53, 76, 0.85)), url("../img/background/main.jpg");
  background-size: cover;
  height: 100vh;
  background-position: top; }
  .header__title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.gallery {
  margin-top: 60rem;
  padding: 0 0 100rem 0;
  position: relative;
  width: 100%; }
