@mixin linear-gradient{
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin linear-gradient-gallery{
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin linear-gradient-2{
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin linear-gradient-3{
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin text-linear-gradient{
  background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
}

@mixin linear-gradient-mega{
  background-image: linear-gradient(to top left, #4BC0C8, #C779D0, #FEAC5E);
  -webkit-background-clip: text;
  color: transparent;
}



@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(240,210,184,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(240,210,184,1);
    box-shadow: 0px 0px 8px 0px rgba(240,210,184,1);
}

@mixin box-shadow-dark{
  box-shadow: 0 1.5rem 4rem rgba($color-black, .25);
}

@mixin box-shadow-black{
  -webkit-box-shadow: 10px 10px 20px -4px rgba(110,107,110,1);
  -moz-box-shadow: 10px 10px 20px -4px rgba(110,107,110,1);
  box-shadow: 10px 10px 20px -4px rgba(110,107,110,1);
}
@mixin box-shadow-black-2{
  -webkit-box-shadow: 5px 5px 13px -4px rgba(110,107,110,1);
  -moz-box-shadow: 5px 5px 13px -4px rgba(110,107,110,1);
  box-shadow: 5px 5px 13px -4px rgba(110,107,110,1);
}


@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin diamond-gallery-img{
  background-size: cover;
  width: 200px;
  transform: rotate(-45deg);
}