@mixin linear-gradient{
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@mixin linear-gradient-2{
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin linear-gradient-3{
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


@mixin box-shadow{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(240,210,184,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(240,210,184,1);
    box-shadow: 0px 0px 8px 0px rgba(240,210,184,1);
}

@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

