$color-primary: #0ABFBC;
$color-primary-dark: #FC354C;

$color-primary-dark-2: #49a09d;
$color-primary-2: #5f2c82;

$color-primary-3: #ff9068;

$color-white: white;
$color-black: black;

$color-grey-light: #eeeeee;

$color-grey-dark: #777;



$default-font-size: 16px;

