.button{
  transition: all .3s;

  &__ghost{
    background-color: transparent;
    border-radius: 30px;
    border: 2px $color-white solid;
    padding: .3rem 2.5rem .3rem 2.5rem;
    font-weight: 700;
    margin-top: -1rem;


    &:hover{
      cursor: pointer;
      border: 2px $color-primary-3 solid;
      transform: translateY(-1px);
    }

    &:hover a {
      color: $color-primary-3;
    }

  }


  &__primary{
    position: relative;
    color: white;
    font-size: 3rem;
    //border: 1px solid white;
    border-radius: 10rem;
    @include linear-gradient-3;
    padding: 2rem 12rem 2rem 12rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .35);
    transition: all .3s;
    backface-visibility: hidden;

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;


    &:hover{
      //transform: translateY(-3px) scale(1.05);
      filter: brightness(110%);
      box-shadow: 0 1rem 4rem rgba($color-black, .55);
      cursor: pointer;
      transform: translateY(-1px);
    }
  }

  &__icon{
    margin-right: 10px;
  }
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}