.diamond-gallery-container{
  position: relative;
}

.diamond-gallery{
  @include absCenter;
  width: 100rem;
  height: 15rem;
  display: block;
  margin-top: 3rem;

  &__list{
    position: absolute;
    list-style: none;
    width: 15rem;
    height: 15rem;
    @include linear-gradient-gallery;
    transform: rotate(45deg);
    transition: .5s;
    margin: -6rem;
    overflow: hidden;
    opacity: .7;

    &:hover{
      opacity: 1;
      cursor: pointer;
      @include linear-gradient-2;
      transform: translateY(-7px) rotate(45deg);

    }

    &-1{
      top: 0;
      left: 0;
    }
    &-2{
      bottom: 0;
      left: 12%;
    }
    &-3{
      top: 0;
      left: 24%;
    }
    &-4{
      bottom: 0;
      left: 36%;
    }
    &-5{
      top:  0;
      left: 48%;
    }

    &-6{
      bottom: 0;
      left: 60%;
    }

    &-7{
      top:  0;
      left: 72%;
    }

    &-8{
      bottom: 0;
      left: 84%;
    }
    &-9{
      top:  0;
      left: 96%;
    }

    &-10{
      bottom: 162%;
      left: 84%;
    }

    &-11{
      bottom: 162%;
      left: 60%;
    }
    &-12{
      bottom: 162%;
      left: 36%;
    }
    &-13{
      bottom: 162%;
      left: 12%;
    }
    &-14{
      top: 162%;
      left: 24%;
    }
    &-15{
      top: 162%;
      left: 48%;
    }
    &-16{
      top: 162%;
      left: 72%;
    }
    &-17{
      bottom: 243%;
      left: 72%;
    }
    &-18{
      top: 243%;
      left: 60%;
    }

    &-19{
      bottom: 243%;
      left: 48%;
    }
    &-20{
      bottom: 243%;
      left: 24%;
    }

    &-21{
      top: 243%;
      left: 36%;
    }



  }

  &__img{

    width: 100%;
    height: 100%;

    &-1{
      background-size: cover;
      width: 19rem;
      transform: rotate(-45deg);
      margin-left: -.5rem;
      margin-top: -3rem;
    }
    &-2{
      background-size: cover;
      width: 20rem;
      transform: rotate(-45deg);
      margin-left: 3rem;
      margin-top: -4.6rem;
    }
    &-3{
      @include diamond-gallery-img;
      margin-left: 1.2rem;
      margin-top: -2.7rem;
    }
    &-4{
      background-size: cover;
      width: 25rem;
      transform: rotate(-45deg);
      margin-top: -4rem;
      margin-left: -2rem;
    }
    &-5{
      background-size: cover;
      width: 14rem;
      transform: rotate(-45deg);
      margin-top: 1.2rem;
      margin-left: 2rem;
    }


    &-6{
      background-size: cover;
      width: 21rem;
      transform: rotate(-45deg);
      margin-top: -4rem;
      margin-left: -2rem;
    }

    &-7{
      background-size: cover;
      width: 20rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
    }

    &-8{
      background-size: cover;
      width: 16rem;
      transform: rotate(-45deg);
      margin-top: -1.2rem;
      margin-left: 2rem;
    }

    &-9{
      background-size: cover;
      width: 22rem;
      transform: rotate(-45deg);
      margin-top: -1rem;
      margin-left: -5rem;
    }



    &-10{
      background-size: cover;
      width: 27rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
      margin-left: -2rem;
    }

    &-11{
      background-size: cover;
      width: 20rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
      margin-left: -1rem;
    }
    &-12{
      background-size: cover;
      width: 27rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
      margin-left: -4rem;
    }
    &-13{
      background-size: cover;
      width: 19rem;
      transform: rotate(-45deg);
      margin-top: -3rem;
      margin-left: -4rem;
    }
    &-14{
      background-size: cover;
      width: 19rem;
      transform: rotate(-45deg);
      margin-left: 3rem;
    }
    &-15{
      background-size: cover;
      width: 27rem;
      transform: rotate(-45deg);
      margin-top: -1rem;
      margin-left: -5rem;
    }
    &-16{
      background-size: cover;
      width: 25rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
      margin-left: -2rem;
    }
    &-17{
      background-size: cover;
      width: 24rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
      margin-left: -5rem;
    }
    &-18{
      background-size: cover;
      width: 24rem;
      transform: rotate(-45deg);
      margin-top: -2rem;
      margin-left: -5rem;
    }
    &-19{
      background-size: cover;
      width: 25rem;
      transform: rotate(-45deg);
      margin-top: -7rem;
      margin-left: -5rem;
    }
    &-20{
      background-size: cover;
      width: 16rem;
      transform: rotate(-45deg);
    }
    &-21{
      background-size: cover;
      width: 24rem;
      transform: rotate(-45deg);
      margin-top: -5rem;
    }

  }

  &__lightbox{
    position: fixed;
    opacity: 0;
    background-color: rgba(black, .9);
    z-index: 999;
    top: 0;
    left:0;
    width: 0;
    height: 0;
    transition: all .3s;
    visibility: hidden;

    &:target{
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100vh;
    }


    &__container{
      width: 130rem;
      @include absCenter;
      height: 70rem;
      background-color: white;
      border-radius: 10px;
    }

    &__img{
      width: 45rem;
      position: absolute;
      left: 10rem;
      top: 3rem;
    }

    &__tab{
      width: 45rem;
      position: absolute;
      top: 10rem;
      right: 15rem;
      @include box-shadow-black;
      border-radius: 1rem;

      &-1{
        height: 7rem;
        background: #00b09b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        position: relative;
      }

      &-2{
        height: 5rem;
        background-color: $color-grey-light;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: relative;
      }

      &-img{
        position: absolute;
        width: 4.5rem;
        top: 1rem;
        left: 4rem;
      }

      &-name{
        font-size: 3rem;
        display: inline-block;
        font-weight: bold;
        color: $color-white;
        position: absolute;
        top: 1rem;
        left: 13rem;
      }

      &-desc{
        font-size: 2.5rem;
        text-align: center;
        padding: .5rem 0 1rem 0;
        font-weight: 500;
      }
    }

    &__type{
      width: 45rem;
      //background-color: $color-primary-dark;
      position: absolute;
      top: 26rem;
      right: 15rem;
      display: flex;
      justify-content: space-evenly;
      text-align: center;


      &-1{
        width: 17rem;
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 500;
        padding: .5rem;
        border-radius: 1rem;
        color: $color-white;
        @include box-shadow-black-2;
      }

      &-2{
        width: 17rem;
        display: inline-block;
        background-color: white;
        font-size: 2.2rem;
        font-weight: 500;
        padding: .5rem;
        border-radius: 1rem;
        color: $color-white;
        @include box-shadow-black-2;
      }

      &-green{
        background: #11998e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &-purple{
        background: #FC5C7D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom left, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom left, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }

    &__basic-info{
      width: 30rem;
      background: #667db6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      position: absolute;
      height: 9rem;
      top: 33rem;
      right: 22rem;
      border-radius: 1rem;
      color: white;
      @include box-shadow-black-2;

      &-1{
        height: 4.5rem;
        font-size: 2.4rem;
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        padding: .4rem;
      }
    }

    &__desc{
      font-size: 2rem;
      border-radius: 1rem;
      width: 100rem;
      margin: 0 auto;
      position: absolute;
      bottom: 7rem;
      left: 15rem;
      border: 2px solid darkturquoise;
      padding: 2rem;
    }

    &__exit{
      font-size: 3rem;
      position: absolute;
      top: 2rem;
      right: 4rem;
      font-weight: bold;
      color: $color-primary-dark;
      //transition: all .3s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }


}