.logo{
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  color: white;
  font-family: lobster, 'cursive';
  font-size: 4rem;

  &__link{
    color: $color-white;
    
    &:hover{
      color: $color-white;
    }
  }
}