.nav{
  list-style: none;
  font-size: 1.7rem;
  display: block;
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-weight: 700;

  @include respond(phone) {
    right: 2rem;
    top: 6rem;
  }

  &__list{
    display: inline-block;
    transition: all .3s;
    text-decoration: none;

    &:hover{
      color: white;
      transform: translateY(-2px);
    }

    &:not(:last-child){
      padding-right: 3rem;

      @include respond(phone) {
        padding-right: 1rem;
      }
    }

    &__battle{
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__link{
    color: $color-white;

    &:hover{
      color: white;
    }
  }


}