.gallery{
  //padding-top: 60rem;
  padding: 60rem 0 47rem 0;
  position: relative;
  overflow: hidden;
}

.battle{
  margin-top: 3rem;
  padding: 10rem 0 15rem 0;
  background-image:
          linear-gradient(to right, rgba($color-primary,.8), rgba($color-primary-dark, .8)),
          url("../img/background/main2.jpg");
  background-size: cover;
  position: relative;
}


.card-gallery{
  background-color: $color-grey-light;
  padding: 10rem 0 15rem 0;

  &__card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
}